@font-face {
  font-weight: normal;
  font-family: "Roboto";
  font-style: normal;

  src: url("../fonts/roboto.woff2") format("woff2"), url("../fonts/roboto.woff") format("woff");
}

@font-face {
  font-weight: 500;
  font-family: "Roboto";
  font-style: normal;

  src: url("../fonts/robotomedium.woff2") format("woff2"), url("../fonts/robotomedium.woff") format("woff");
}

@font-face {
  font-weight: 700;
  font-family: "Roboto";
  font-style: normal;

  src: url("../fonts/robotobold.woff2") format("woff2"), url("../fonts/robotobold.woff") format("woff");
}

body {
  margin: 0;
  padding: 0;

  font-family: 'Roboto', Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 700;
  color: #ffffff;

  background-color: #849d8f;
}

img {
  max-width: 100%;
  height: auto;
}

/*Базовые стили*/

.btn {
  position: relative;
  z-index: 15;

  display: inline-block;
  overflow: hidden;

  font-weight: 700;
  vertical-align: top;
  color: #ffffff;
  text-decoration: none;

  background-color: #f26843;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#e74a35), to(#f26843));
  background-image: -webkit-linear-gradient(bottom, #e74a35 0%, #f26843 100%);
  background-image: -o-linear-gradient(bottom, #e74a35 0%, #f26843 100%);
  background-image: linear-gradient(0deg, #e74a35 0%, #f26843 100%);
  border-radius: 5em;
  outline: none;
  -webkit-box-shadow: 0 2px 2px 0 rgba(172, 16, 0, 0.64);
  box-shadow: 0 2px 2px 0 rgba(172, 16, 0, 0.64);
  cursor: pointer;

  -webkit-transition: -webkit-box-shadow 0.2s linear;

  transition: -webkit-box-shadow 0.2s linear;

  -o-transition: box-shadow 0.2s linear;

  transition: box-shadow 0.2s linear;

  transition: box-shadow 0.2s linear, -webkit-box-shadow 0.2s linear;
}

.btn:hover
.btn:focus{
  -webkit-box-shadow: 0 2px 2px 0 #ac1000;
  box-shadow: 0 2px 2px 0 #ac1000;
}

.btn:active {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.btn::before,
.btn::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;

  opacity: 0;

  -webkit-transition: opacity 0.2s linear;

  -o-transition: opacity 0.2s linear;

  transition: opacity 0.2s linear;
}

.btn::before {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#ec6f5e), to(#f58669));
  background-image: -webkit-linear-gradient(bottom, #ec6f5e 0%, #f58669 100%);
  background-image: -o-linear-gradient(bottom, #ec6f5e 0%, #f58669 100%);
  background-image: linear-gradient(0deg, #ec6f5e 0%, #f58669 100%);
}

.btn::after {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#e1613e), to(#d74632));
  background-image: -webkit-linear-gradient(bottom, #e1613e 0%, #d74632 100%);
  background-image: -o-linear-gradient(bottom, #e1613e 0%, #d74632 100%);
  background-image: linear-gradient(0deg, #e1613e 0%, #d74632 100%);
  -webkit-box-shadow: inset 0 2px 2px 0 #ac1000;
  box-shadow: inset 0 2px 2px 0 #ac1000;
}

.btn:hover::before,
.btn:focus::before {
  opacity: 1;
}

.btn:active::after {
  opacity: 1;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*Разметка шапки*/

.page-wrapper {
  background-repeat: no-repeat;
  background-position: top center;
}

.page-header {
  position: relative;
  width: 1146px;
  margin: 0 auto;
  padding: 0 27px;
}

.page-header .main-navigation {
  display: flex;
}

.main-navigation .main-navigation-logo {
  margin-top: 9px;
  margin-right: 24px;
}

.page-header .site-navigation {
  display: flex;

  list-style: none;
}

.site-navigation a {
  display: block;
  padding: 9px 14px;

  line-height: 18px;
  color: #ffffff;
  text-decoration-color: rgba(255,255,255,0.4);

  border-radius: 20px;
}

.site-navigation a:hover {
  color: #323232;

  background-color: #f7f6f3;
}

.site-navigation a:active {
  background-color: #ededed;
  box-shadow: inset 0 2px 1px dimgrey;
}

.catalog-navigation {
  display: none;

  color: #323232;

  background-color: #f8f7f4;
  list-style: none;
  border-radius: 5px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
}

.catalog-navigation-item a {
  font-size: 14px;
  line-height: 16px;
  font-weight:  400;
  text-decoration: none;
  color: #323232;
}

.catalog-navigation-item a:hover {
  background-color: #fbded7;
}

.catalog-navigation-item a:active {
  background-color: #f6b5a5;
}

.page-header .user-block {
  display: flex;
  justify-content: space-between;
  width: 267px;
  margin-left: auto;

  list-style: none;
}

.user-block-item .user-block-btn {
  display: block;
  padding: 9px 16px 9px 44px;

  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  color: #ffffff;

  background-color: rgba(255,255,255,0.2);
  border-radius: 20px;
}

.user-block-item .user-block-btn:hover {
  color: #323232;

  background-color: #f8f7f4;
}

.user-block-item .user-block-search {
  width: 33px;
  height: 33px;
  padding: 0;

  border-radius: 50%;
}

.user-block-item form {
  display: none;

  background-color: #f8f7f4;
  border-radius: 5px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
}

.user-block-item fieldset {
  border: none;
}

.user-block-item label {
  line-height: 24px;
  font-weight: 400;
  color: #999999;
}



.authorization-form-links .authorization-form-restore,
.authorization-form-links .authorization-form-register {
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
  color: #323232;
}

.authorization-form-links .authorization-form-restore:hover,
.authorization-form-links .authorization-form-register:hover,
.authorization-form-links .authorization-form-restore:active,
.authorization-form-links .authorization-form-register:active {
  color: #e84d37;
  text-decoration-color: #e84d37;
}


/*Разметка корзины*/

.user-block-item .card {
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  color: #323232;

  background-color: #f8f7f4;
  border-radius: 5px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
}

.card p:last-of-type {
  color: #999;
}

.page-header .contact {
  position: absolute;
  right: 0;
}

.contact p {
  font-size: 14px;
  line-height: 16px;
}

.contact a {
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  color: #ffffff;

  text-decoration: none;
}

.main-navigation-item a {
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  color: #ffffff;
}

/*Разметка хлебных крошек*/

.breadcrumbs {
  list-style: none;
}

.breadcrumbs a {
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  color: #ffffff;

  text-decoration-color: rgba(255,255,255,0.2);
}

.breadcrumbs a:active,
.breadcrumbs a:hover {
  color: #ffbc9e;
  text-decoration-color: #ffbc9e;
}

.breadcrumbs .breadcrumbs-item-current {
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  color: #ffffff;
}

/*Разметка формы*/

.container {
  width: 1146px;
  margin: 0 auto;
  padding: 0 27px;
}

.page-content-title {
  font-size: 35px;
  line-height: 41px;
}

.filters-form .filters-form-item {
  border: none;
}

.filters-form .filters-form-description {
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
}

/*Разметка слайдера*/
.slider {
  position: relative;
}

.slider .slider-controls {
  position: absolute;
  left: 0;
  top: 164px;


  width: 82px;
}

.slider-controls .slider-controller {
  display: inline-block;

  width: 20px;
  height: 20px;

  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.slider-input {
  display: none;
}

.slider-content {
  margin: 0;
  margin-top: 330px;
  padding: 0;


  list-style: none;
}

.slider-content .slider-item {
  display: none;

  text-align: center;

}

.slider-item .slider-item-title {
  width: 670px;
  margin: 0 auto;
  margin-bottom: 33px;

  font-size: 60px;
  line-height: 60px;
}

.slider-item .slider-item-btn {
  padding: 8px 41px 12px;

  font-size: 32px;
  line-height: 44px;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
}

#btn-1:checked ~ .page-wrapper label[for="btn-1"],
#btn-2:checked ~ .page-wrapper label[for="btn-2"],
#btn-3:checked ~ .page-wrapper label[for="btn-3"] {
  background-color: #ffffff;
}

#btn-1:checked ~ .page-wrapper {
  background-color: #849d8f;
  background-image: url("../img/slide-1.png");

}

#btn-2:checked ~ .page-wrapper {
  background-color: #8996a6;
  background-image: url("../img/slide-2.png")
}

#btn-3:checked ~ .page-wrapper {
  background-color: #9d8b84;
  background-image: url("../img/slide-3.png")
}

#btn-1:checked ~ .page-wrapper .slider-item-1 {
  display: block;
}

#btn-2:checked ~ .page-wrapper .slider-item-2 {
  display: block;
}

#btn-3:checked ~ .page-wrapper .slider-item-3 {
  display: block;
}

/*Разметка Специальных предложений*/

.special-list {
  display: flex;
  justify-content: space-between;

  margin: 0;
  margin-top: 40px;
  margin-bottom: 40px;
  padding: 0;

  list-style: none;
}

.special-list .special-item {
  position: relative;

  width: 560px;
  min-height: 229px;
  padding: 14px 21px 70px 19px;

  border-radius: 15px;

  box-sizing: border-box;
}

.special-list .special-item:first-child {
  background-color: #992844;
  background-image: url("../img/raspberry.jpg");
  background-position: -50px -94px;
}

.special-list .special-item:last-child {
  background-color: #4d2c18;
  background-image: url("../img/chocolate.jpg");
  background-position: -218px -104px;
}

.special-item .special-item-slogan {
  margin: 0;
  margin-bottom: 16px;
  padding: 0;

  font-size: 35px;
  line-height: 41px;
  text-align: left;
}

.special-item .special-item-info {
  margin: 0;
  margin-bottom: 23px;

  font-size: 18px;
  line-height: 22px;
  text-align: left;
}

.special-item .special-btn {
  position: absolute;
  right: 21px;
  bottom: 23px;

  -webkit-box-sizing: border-box;

  box-sizing: border-box;
  padding: 9px 22px 13px 21px;

  font-size: 18px;
  line-height: 24px;
  text-align: center;
}

/*Разметка каталога*/

.catalog-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  margin: 0;
  margin-bottom: 40px;
  padding: 0;

  list-style: none;
}

.catalog-list .catalog-list-item {
  position: relative;
  z-index: 5;

  display: flex;
  flex-direction: column;
  width: 267px;

  margin-bottom: 40px;
}

.catalog-list .catalog-list-item:hover {
  z-index: 50;
}

.catalog-list .catalog-list-item:after {
  content: "";
  position: absolute;
  top: -6px;
  right: -13px;
  bottom: -75px;
  left: -13px;
  z-index: -1;

  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  -webkit-transform: scale(0.6);
  -ms-transform: scale(0.6);
  transform: scale(0.6);
  opacity: 0;

  -webkit-transition: opacity 0.2s linear, -webkit-transform 0.2s linear;

  transition: opacity 0.2s linear, -webkit-transform 0.2s linear;

  -o-transition: opacity 0.2s linear, transform 0.2s linear;

  transition: opacity 0.2s linear, transform 0.2s linear;

  transition: opacity 0.2s linear, transform 0.2s linear, -webkit-transform 0.2s linear;
}

.catalog-list .catalog-list-item:hover::after {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}

.catalog-list-item .catalog-item-title {
  order: 2;

  margin: 0;

  font-weight: 500;
  line-height: 22px;
  text-align: center;
}

.catalog-list-item .catalog-image-wrapper {
  position: relative;

  order: 1;
}

.catalog-image-wrapper img {
  display: inline-block;
  margin-left: 3px;
  padding-bottom: 5px;

  vertical-align: middle;

  border-radius: 50%;
}

.catalog-image-wrapper .catalog-item-price {
  position: absolute;
  bottom: 22px;
  left: 0;

  margin: 0;

  font-size: 45px;
  line-height: 45px;
}

.catalog-list-item .catalog-item-btn {
  position: absolute;
  bottom: -54px;
  left: 50%;

  -webkit-box-sizing: border-box;

  box-sizing: border-box;
  width: 202px;
  padding: 9px 17px 12px;

  font-size: 18px;
  line-height: 24px;
  text-align: center;

  -webkit-transform: translateX(-50%) scale(0);

  -ms-transform: translateX(-50%) scale(0);

  transform: translateX(-50%) scale(0);

  -webkit-transition: -webkit-transform 0.2s linear;

  transition: -webkit-transform 0.2s linear;

  -o-transition: transform 0.2s linear;

  transition: transform 0.2s linear;

  transition: transform 0.2s linear, -webkit-transform 0.2s linear;
}

.catalog-list-item:hover .catalog-item-btn,
.catalog-item-btn:focus {
  display: inline-block;

  -webkit-transform: translateX(-50%) scale(1);

  -ms-transform: translateX(-50%) scale(1);

  transform: translateX(-50%) scale(1);
}

.catalog-list-hit::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;

  width: 61px;
  height: 61px;

  background-image: url("../img/hit.svg");
  background-repeat: no-repeat;
}

/*Разметка блока возможностей*/

.features {
  width: 100%;
  padding: 27px 21px;
  margin-bottom: 40px;

  color: #323232;

  background-color: #dfd3b9;
  background-image: url("../img/waffle.jpg");
  border-radius: 15px;
}

.features .features-title {
  margin: 0;
  padding: 0;

  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
}

.features .features-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.features-list .features-item {
  width: 483px;
  padding-top: 24px;
  padding-left: 50px;

  font-weight: 400;
  line-height: 22px;

  list-style: none;
}

/*Разметка выноски из блога*/

.news-wrapper {
  display: flex;
  justify-content: space-between;

  margin-bottom: 40px;
}

.blog-news {
  display: flex;
  flex-direction: column;

  width: 560px;
  min-height: 220px;
  padding: 23px 21px 20px 20px;

  color: #323232;

  background-color: #ffffff;
  background-image: url("../img/strawberry-bg.jpg");
  background-repeat: no-repeat;
  background-position: -52px -224px;
  border-radius: 13px;
  box-sizing: border-box;
}

.blog-news h2 {
  width: 280px;
  margin: 0;

  font-size: 24px;
  line-height: 30px;
}

.blog-news a {
  font-size: 24px;
  color: #323232;
  text-decoration: none;

  border-bottom: 2px solid #323232;
  outline: none;

  -webkit-transition: color 0.2s linear, border-color 0.2s linear;

  -o-transition: color 0.2s linear, border-color 0.2s linear;

  transition: color 0.2s linear, border-color 0.2s linear;
}

.blog-news a:hover,
.blog-news a:focus,
.blog-news a:active {
  color: #e84d37;

  text-decoration-color: #e84d37;
}

/*Разметка подписки на рассылку*/

.newsletter {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  width: 560px;
  padding: 28px 20px 35px 20px;

  color: #5a5a5a;

  background-color: #f8f7f4;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#f8f7f4), color-stop(0%, #f8f7f4)), url("../img/bg-post.svg");

  background-image: -webkit-linear-gradient(bottom, #f8f7f4 0%, #f8f7f4 0%), url("../img/bg-post.svg");

  background-image: -o-linear-gradient(bottom, #f8f7f4 0%, #f8f7f4 0%), url("../img/bg-post.svg");

  background-image: linear-gradient(0deg, #f8f7f4 0%, #f8f7f4 0%), url("../img/bg-post.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-clip: padding-box, border-box;
  background-origin: border-box;
  border: 6px solid transparent;
  border-radius: 13px;
}

.newsletter .newsletter-form {
  display: flex;
  justify-content: space-between;
  width: 100%;

  background: #f8f7f4;
}

.newsletter-form .newsletter-info {
  margin: 0;
  margin-bottom: 33px;

  color: #5a5a5a;
  font-weight: 400;
}

.newsletter-form .newsletter-input {
  border: none;
}

.newsletter-input .custom-input-placeholder {
  font-weight: 400;
  line-height: 24px;
}

/*Разметка карты*/

.contacts {
  position: relative;
}

.contacts-map {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 40;

  width: 100%;
  height: 100%;
  overflow: hidden;
}

.contacts-map img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  z-index: -1;

  -webkit-transform: translateX(-50%);

  -ms-transform: translateX(-50%);

  transform: translateX(-50%);
}

.contacts-wrapper {
  position: relative;

  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;

  min-width: 900px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 27px;
  padding-top: 62px;
  padding-bottom: 62px;
}

.contacts-inner {
  position: relative;
  z-index: 45;

  margin-left: auto;
  padding: 29px 26px 30px 25px;

  background-color: #ffffff;
  border-radius: 15px;
}

.contacts-address-title {
  width: 148px;
  margin: 0;
  margin-bottom: 0;

  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #323232;
}

.contacts-inner b {
  display: block;
  width: 225px;
  margin: 0;
  margin-bottom: 19px;

  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #323232;
}

.contacts-phone-title {
  width: 172px;
  margin: 0;
  margin-bottom: 4px;

  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #323232;
}

.contacts-phone {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #323232;
  text-decoration: none;

  border-bottom: 2px solid transparent;
  outline: none;

  -webkit-transition: color 0.2s linear, border-color 0.2s linear;

  -o-transition: color 0.2s linear, border-color 0.2s linear;

  transition: color 0.2s linear, border-color 0.2s linear;
}

.contacts-phone:hover,
.contacts-phone:focus,
.contacts-phone:active {
  color: #e84d37;

  border-bottom: 2px solid rgba(236, 89, 60, 0.3);
}

.contacts-inner p {
  margin: 0;
  margin-bottom: 22px;

  font-size: 14px;
  line-height: 24px;
}

.contacts-btn {
  padding: 8px 27px 12px;

  font-size: 18px;
  line-height: 24px;
}

/*Разметка пагинатора*/

.pagination-list a{
  font-weight: 500;
  line-height: 18px;
  color: #ffffff;

  text-decoration: none;
}

.pagination-item-current a {
  color: #323232;

  background-color: #ffffff;
  border-radius: 50%;
}

/*Разметка футера*/
.page-footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  width: 1146px;
  margin: 0 auto;
  padding: 0 27px;
  padding-top: 19px;
  padding-bottom: 23px;
}


.footer-social {
  display: flex;

  width: 186px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.footer-social .footer-social-item {
  margin-right: 11px;
}

.footer-social .footer-social-item:last-child {
  margin-right: 0;
}

.footer-social .footer-social-btn {
  position: relative;
  display: inline-block;

  width: 32px;
  height: 32px;

  background-color: rgba(255,255,255,0.8);
  border: 3px solid rgba(255,255,255,0.5);
  border-radius: 50%;
  outline: none;

  -webkit-transition: border-color 0.15s linear;

  -o-transition: border-color 0.15s linear;

  transition: border-color 0.15s linear;

}

.footer-social .footer-social-btn:hover,
.footer-social .footer-social-btn:focus {
  border-color: rgba(255, 255, 255, 0.7);
}

.footer-menu .footer-menu-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  width: 330px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.footer-menu-list .footer-menu-item {
  box-sizing: border-box;
  width: 165px;

  text-align: left;
}

.footer-menu-list .footer-menu-item:nth-child(2n + 1) {
  padding-left: 22px;
}

.footer-menu-item a{
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  color: #ffffff;

  text-decoration-color: rgba(255,255,255,0.2);
  outline: none;

  -webkit-transition: color 0.15s linear, border-color 0.2s linear;

  -o-transition: color 0.15s linear, border-color 0.2s linear;

  transition: color 0.15s linear, border-color 0.2s linear;
}

.menu-item-heart a{
  font-weight: 700;
}

.footer-menu-item a:active,
.footer-menu-item a:focus,
.footer-menu-item a:hover {
  color: #e84d37;
  text-decoration-color: #e84d37;
}

.copyright {
  display: flex;
  flex-direction: column;

  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
}

.copyright a {
  color: #ffffff;
  text-decoration: none;

  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  outline: none;

  -webkit-transition: color 0.2s linear, border-color 0.2s linear;

  -o-transition: color 0.2s linear, border-color 0.2s linear;

  transition: color 0.2s linear, border-color 0.2s linear;
}

.copyright a:active,
.copyright a:focus,
.copyright a:hover {
  color: #e84d37;
  text-decoration-color: #e84d37;
}

.copyright img {
  order: -1;

  width: 108px;
  height: 39px;
  margin-bottom: 4px;
  padding-top: 1px;
  padding-left: 2px;

  outline: none;
}

/*Разметка модального окна*/

.modal-feedback {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 100;

  display: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 477px;
  padding: 16px 24px 27px;

  background-color: #f8f7f4;
  border-radius: 10px;
  -webkit-box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translate(-50%, -1000%);
    transform: translate(-50%, -1000%);
  }
  70% {
    -webkit-transform: translate(-50%, -45%);
    transform: translate(-50%, -45%);
  }
  90% {
    -webkit-transform: translate(-50%, -53%);
    transform: translate(-50%, -53%);
  }
  100% {
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: translate(-50%, -1000%);
    transform: translate(-50%, -1000%);
  }
  70% {
    -webkit-transform: translate(-50%, -45%);
    transform: translate(-50%, -45%);
  }
  90% {
    -webkit-transform: translate(-50%, -53%);
    transform: translate(-50%, -53%);
  }
  100% {
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
}

.modal-feedback-show {
  display: block;

  -webkit-animation: bounce 0.6s;

  animation: bounce 0.6s;
}

.modal-feedback-intro {
  margin: 0;
  margin-bottom: 20px;

  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #323232;
}

.modal-feedback-close {
  position: absolute;
  top: 11px;
  right: 13px;

  width: 23px;
  height: 23px;

  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.modal-feedback-close::before,
.modal-feedback-close::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 23px;
  height: 2px;

  background-color: #323232;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
  -ms-transform: translate(-50%, -50%) rotate(45deg);
  transform: translate(-50%, -50%) rotate(45deg);

  -webkit-transition: background-color 0.1s linear, opacity 0.1s linear;

  -o-transition: background-color 0.1s linear, opacity 0.1s linear;

  transition: background-color 0.1s linear, opacity 0.1s linear;
}

.modal-feedback-close::after {
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
  -ms-transform: translate(-50%, -50%) rotate(-45deg);
  transform: translate(-50%, -50%) rotate(-45deg);
}

.modal-feedback-close:hover::before,
.modal-feedback-close:focus::before,
.modal-feedback-close:hover::after,
.modal-feedback-close:focus::after {
  background-color: #e84d37;
}

.modal-feedback-close:active::before,
.modal-feedback-close:active::after {
  opacity: 0.5;
}

.modal-feedback-label {
  position: relative;

  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  width: auto;
  margin-right: 161px;
  margin-bottom: 20px;
}

.modal-feedback-textarea {
  margin-right: 0;
}

.modal-feedback-field {
  -webkit-box-flex: 1;
  flex-grow: 1;
  padding: 9px 15px 9px;

  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  font-family: "Roboto", Arial, sans-serif;
  color: #323232;

  background-color: #ffffff;
  border: 1px solid #d3d3d2;
  border-radius: 5px;
  outline: none;

  -webkit-transition: color 0.2s linear, border-color 0.2s linear;

  -o-transition: color 0.2s linear, border-color 0.2s linear;

  transition: color 0.2s linear, border-color 0.2s linear;

  -ms-flex-positive: 1;
}

.modal-feedback-field:hover {
  border-color: #9a9a9a;
}

.modal-feedback-field:focus {
  border-color: #8fbdec;
}

.modal-feedback-textarea .modal-feedback-field {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  min-height: 155px;
  margin-right: 0;

  resize: none;
}

.modal-feedback-placeholder {
  position: absolute;
  top: 0;
  left: 15px;
  z-index: 5;

  color: #999999;

  -webkit-transform: translateY(50%);

  -ms-transform: translateY(50%);

  transform: translateY(50%);
  cursor: text;

  -webkit-transition: font-size 0.2s linear, line-height 0.2s linear, color 0.2s linear, -webkit-transform 0.2s linear;

  transition: font-size 0.2s linear, line-height 0.2s linear, color 0.2s linear, -webkit-transform 0.2s linear;

  -o-transition: transform 0.2s linear, font-size 0.2s linear, line-height 0.2s linear, color 0.2s linear;

  transition: transform 0.2s linear, font-size 0.2s linear, line-height 0.2s linear, color 0.2s linear;

  transition: transform 0.2s linear, font-size 0.2s linear, line-height 0.2s linear, color 0.2s linear, -webkit-transform 0.2s linear;
}

.modal-feedback-field:focus + .modal-feedback-placeholder,
.modal-feedback-field:valid + .modal-feedback-placeholder {
  font-size: 11px;
  line-height: 13px;
  color: #5b9ddf;

  -webkit-transform: translateY(-120%);

  -ms-transform: translateY(-120%);

  transform: translateY(-120%);
}

.modal-feedback-btn {
  margin-top: 2px;
  margin-left: 291px;
  padding: 8px 24px 11px;

  font-size: 18px;
  line-height: 24px;
  font-family: "Roboto", Arial, sans-serif;

  border: none;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;

  display: none;
  width: 100%;
  height: 100%;

  background: rgba(0, 0, 0, 0.3);
}

.modal-overlay-show {
  display: block;
}
