@font-face {
  font-weight: normal;
  font-family: "Roboto";
  font-style: normal;

  src: url("../fonts/roboto.woff2") format("woff2"), url("../fonts/roboto.woff") format("woff");
}

@font-face {
  font-weight: 500;
  font-family: "Roboto";
  font-style: normal;

  src: url("../fonts/robotomedium.woff2") format("woff2"), url("../fonts/robotomedium.woff") format("woff");
}

@font-face {
  font-weight: 700;
  font-family: "Roboto";
  font-style: normal;

  src: url("../fonts/robotobold.woff2") format("woff2"), url("../fonts/robotobold.woff") format("woff");
}

body {
  margin: 0;
  padding: 0;

  font-family: 'Roboto', Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 700;
  color: #ffffff;

  background-color: #849d8f;
}

img {
  max-width: 100%;
  height: auto;
}

/*Базовые стили*/

.btn {
  position: relative;
  z-index: 15;

  display: inline-block;
  overflow: hidden;

  font-weight: 700;
  vertical-align: top;
  color: #ffffff;
  text-decoration: none;

  background-color: #f26843;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#e74a35), to(#f26843));
  background-image: -webkit-linear-gradient(bottom, #e74a35 0%, #f26843 100%);
  background-image: -o-linear-gradient(bottom, #e74a35 0%, #f26843 100%);
  background-image: linear-gradient(0deg, #e74a35 0%, #f26843 100%);
  border-radius: 5em;
  outline: none;
  -webkit-box-shadow: 0 2px 2px 0 rgba(172, 16, 0, 0.64);
  box-shadow: 0 2px 2px 0 rgba(172, 16, 0, 0.64);
  cursor: pointer;

  -webkit-transition: -webkit-box-shadow 0.2s linear;

  transition: -webkit-box-shadow 0.2s linear;

  -o-transition: box-shadow 0.2s linear;

  transition: box-shadow 0.2s linear;

  transition: box-shadow 0.2s linear, -webkit-box-shadow 0.2s linear;
}

.btn:hover
.btn:focus{
  -webkit-box-shadow: 0 2px 2px 0 #ac1000;
  box-shadow: 0 2px 2px 0 #ac1000;
}

.btn:active {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.btn::before,
.btn::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;

  opacity: 0;

  -webkit-transition: opacity 0.2s linear;

  -o-transition: opacity 0.2s linear;

  transition: opacity 0.2s linear;
}

.btn::before {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#ec6f5e), to(#f58669));
  background-image: -webkit-linear-gradient(bottom, #ec6f5e 0%, #f58669 100%);
  background-image: -o-linear-gradient(bottom, #ec6f5e 0%, #f58669 100%);
  background-image: linear-gradient(0deg, #ec6f5e 0%, #f58669 100%);
}

.btn::after {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#e1613e), to(#d74632));
  background-image: -webkit-linear-gradient(bottom, #e1613e 0%, #d74632 100%);
  background-image: -o-linear-gradient(bottom, #e1613e 0%, #d74632 100%);
  background-image: linear-gradient(0deg, #e1613e 0%, #d74632 100%);
  -webkit-box-shadow: inset 0 2px 2px 0 #ac1000;
  box-shadow: inset 0 2px 2px 0 #ac1000;
}

.btn:hover::before,
.btn:focus::before {
  opacity: 1;
}

.btn:active::after {
  opacity: 1;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*Разметка шапки*/

.site-navigation {
  list-style: none;
}

.site-navigation a {
  line-height: 18px;
  color: #ffffff;
  text-decoration-color: rgba(255,255,255,0.4);
}

.site-navigation a:hover {
  color: #323232;

  background-color: #f7f6f3;
}

.site-navigation a:active {
  background-color: #ededed;
  box-shadow: inset 0 2px 1px dimgrey;
}

.catalog-navigation {
  color: #323232;

  background-color: #f8f7f4;
  list-style: none;
  border-radius: 5px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
}

.catalog-navigation-item a {
  font-size: 14px;
  line-height: 16px;
  font-weight:  400;
  text-decoration: none;
  color: #323232;
}

.catalog-navigation-item a:hover {
  background-color: #fbded7;
}

.catalog-navigation-item a:active {
  background-color: #f6b5a5;
}

.user-block {
  list-style: none;
}

.user-block-item .user-block-btn {
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  color: #ffffff;

  background-color: rgba(255,255,255,0.2);
}

.user-block-item .user-block-btn:hover {
  color: #323232;

  background-color: #f8f7f4;
}

.user-block-item form {
  background-color: #f8f7f4;
  border-radius: 5px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
}

.user-block-item fieldset {
  border: none;
}

.user-block-item label {
  line-height: 24px;
  font-weight: 400;
  color: #999999;
}

.authorization-form-links .authorization-form-restore,
.authorization-form-links .authorization-form-register {
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
  color: #323232;
}

.authorization-form-links .authorization-form-restore:hover,
.authorization-form-links .authorization-form-register:hover,
.authorization-form-links .authorization-form-restore:active,
.authorization-form-links .authorization-form-register:active {
  color: #e84d37;
  text-decoration-color: #e84d37;
}


/*Разметка корзины*/

.user-block-item .card {
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  color: #323232;

  background-color: #f8f7f4;
  border-radius: 5px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
}

.card p:last-of-type {
  color: #999;
}

.contact p {
  font-size: 14px;
  line-height: 16px;
}

.contact a {
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  color: #ffffff;

  text-decoration: none;
}

.main-navigation-item a {
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  color: #ffffff;
}

/*Разметка хлебных крошек*/

.breadcrumbs {
  list-style: none;
}

.breadcrumbs a {
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  color: #ffffff;

  text-decoration-color: rgba(255,255,255,0.2);
}

.breadcrumbs a:active,
.breadcrumbs a:hover {
  color: #ffbc9e;
  text-decoration-color: #ffbc9e;
}

.breadcrumbs .breadcrumbs-item-current {
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  color: #ffffff;
}

/*Разметка формы*/

.page-content-title {
  font-size: 35px;
  line-height: 41px;
}

.filters-form .filters-form-item {
  border: none;
}

.filters-form .filters-form-description {
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
}

/*Разметка слайдера*/

.slider-content {
  list-style: none;
}

.special-list {
  list-style: none;
}

.slider-item .slider-item-title {
  font-size: 60px;
  line-height: 60px;
}

.slider-item .slider-item-btn {
  font-size: 32px;
  line-height: 44px;
}

/*Разметка Специальных предложений*/

.special-item:first-child {
  background-image: url("../img/raspberry.jpg");
}

.special-item:last-child {
  background-image: url("../img/chocolate.jpg");
}

.special-item .special-item-slogan {
  font-size: 35px;
  line-height: 41px;
}

.special-item .special-item-info {
  font-size: 18px;
  line-height: 22px;
}

/*Разметка каталога*/

.catalog-list {
  list-style: none;
}

.catalog-list-item:hover {
  background-color: rgba(248, 247, 244, 0.2);
  border-radius: 5px;
}

.catalog-image-wrapper img {
  border-radius: 50%;
}

.catalog-image-wrapper .catalog-item-price {
  font-size: 45px;
  line-height: 45px;
}

/*Разметка блока возможностей*/

.features {
  color: #323232;

  background-color: #dfd3b9;
  background-image: url("../img/waffle.jpg");
}

.features .features-title {
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
}

.features .features-item {
  font-weight: 400;
  line-height: 22px;

  list-style: none;
}

/*Разметка выноски из блога*/

.blog-news {
  color: #323232;

  background-color: #f4f6f5;
  background-image: url("../img/strawberry-bg.jpg");
  background-repeat: no-repeat;
}

.blog-news h2 {
  font-weight: 500;
  line-height: 22px;
}

.blog-news a {
  color: #323232;

  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
}

.blog-news a:hover,
.blog-news a:active {
  color: #e84d37;
  text-decoration-color: #e84d37;
}

/*Разметка подписки на рассылку*/

.newsletter {
  color: #5a5a5a;

  background-color: #f8f7f4;

  border-radius: 10px;
  background-image: url("../img/post-bg.png");
  background-size: cover;
}

.newsletter .newsletter-form {
  background: #f8f7f4;
}

.newsletter-form .newsletter-info {
  font-weight: 400;
}

.newsletter-form .newsletter-input {
  border: none;
}

.newsletter-input .custom-input-placeholder {
  font-weight: 400;
  line-height: 24px;
}

/*Разметка карты*/

.map {
  background-image: url("../img/map-bg.png");
  background-repeat: no-repeat;
}

.map-container .contacts {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #323232;

  background-color: rgba(255, 255, 255, 0.98);
  border-radius: 15px;
}

.contacts b {
  font-size: 18px;
  line-height: 24px;
}

/*Разметка пагинатора*/

.pagination-list a{
  font-weight: 500;
  line-height: 18px;
  color: #ffffff;

  text-decoration: none;
}

.pagination-item-current a {
  color: #323232;

  background-color: #ffffff;
  border-radius: 50%;
}

/*Разметка футера*/

.footer-social {
  list-style: none;
}

.footer-social .footer-social-btn {
  font-size: 0;

  background-color: rgba(255,255,255,0.8);
  border: 3px solid rgba(255,255,255,0.5);
}

.footer-menu ul {
  list-style: none;
}

.footer-menu-item a{
  color: #ffffff;

  font-size: 13px;
  font-weight: 400;
  line-height: 18px;

  text-decoration-color: rgba(255,255,255,0.2);
}

.menu-item-heart a{
  font-weight: 700;
}

.footer-menu-item a:active,
.footer-menu-item a:hover {
  color: #e84d37;
  text-decoration-color: #e84d37;
}

.copyright {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
}

.copyright a {
  color: #fefefe;
}

.copyright a:active,
.copyright a:hover {
  color: #e84d37;
  text-decoration-color: #e84d37;
}

/*Разметка модального окна*/

.modal-feedback {
  background-color: #f8f7f4;
}

.modal-feedback h2 {
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
  color: #323232;
}

.modal-feedback fieldset {
  border: none;
}

.modal-feedback .custom-input-placeholder {
  font-weight: 400;
  line-height: 24px;
  color: #999;
}
